app = "p2p-chat-123"

primary_region = "sin"

[build]
  builder = "paket/npm"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
